<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    <h1>Secret</h1>
    <form action="/secret" method="POST">
        <label for="secret">Secret password</label>
        <input type="password" id="secret" name="secret">
        <button type="submit">Submit</button>
    </form>
</body>
</html>